@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-primary: #161e54;
}

@layer base {

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    font-family: "Epilogue", sans-serif;
  }
}